.planet.planet-1 {
    background-color: red;
  }
  
.planet.planet-2 {
    background-color: orange;
  }
  
.planet.planet-3 {
    background-color: yellow;
}
  
.planet.planet-4 {
    background-color: green;
}
  
.planet.planet-5{
    background-color: blue;
}
    
.planet.planet-6 {
    background-color: purple;
}
    
.planet.planet-7 {
    background-color: brown;
}
    
.planet.planet-8 {
    background-color: teal;
}